@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto',sans-serif;
line-height: 1.6rem;
background-color: #f6f6f6
}

ul{
  list-style: none;
}
a{

  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
}

.card{
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
  margin:10px;

}
.form-action{
  margin: 20px 0px;
}
.form-control{
  margin: 5px 10px;

}

.form-control input{
  margin: 10px 0;
  border: none;
  outline: 0;
  width: 100%;
  border-bottom: 0.5px solid #333;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}